doctype html
html(lang="en-US")
  head
    title= title
    meta(charset="UTF-8")
    +stylesheet_link_tag('style')
  body
    block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
