<h1>{{category}}</h1>
<span class="selected_span small_number">{{total}}</span>

<div class="container" data-id="{{currentId}}">
  <a class="add-todo" href="#">Add new to do</a>
</div>

<ul class="todo-list"></ul>

<div class="modal_layer"></div>
<div class="modal"></div>